<?xml version="1.0"?>
<ruleset name="Sensei LMS Certificates">
	<description>A custom set of code standard rules to check for WordPress themes and plugins.</description>
	<arg value="s"/>
	<arg value="p"/>
	<arg name="colors"/>
	<arg name="extensions" value="php"/>
	<file>.</file>
	<exclude-pattern type="relative">^node_modules/*</exclude-pattern>
	<exclude-pattern type="relative">^vendor/*</exclude-pattern>
	<exclude-pattern type="relative">^build/*</exclude-pattern>
	<exclude-pattern type="relative">^lib/*</exclude-pattern>
	<exclude-pattern>tests/</exclude-pattern>
	<!-- Configs -->
	<config name="minimum_supported_wp_version" value="4.9" />
	<config name="testVersion" value="7.0-"/>
	<!-- Rules -->
	<rule ref="PHPCompatibilityWP"/>
	<rule ref="WordPress-Docs" />
	<rule ref="WordPress-Extra" />
	<rule ref="WordPress.Security.ValidatedSanitizedInput" />
	<rule ref="WordPress.DB.DirectDatabaseQuery" />
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="sensei"/>
				<element value="woothemes"/>
			</property>
		</properties>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="sensei-certificates"/>
			</property>
		</properties>
	</rule>
</ruleset>
